<!-- <mat-divider></mat-divider> -->
<div class="main mt-10">
    <p routerLink="" class="hover:bg-gray-400 hover:text-white p-4 "><i class="fa-solid fa-table-columns"></i>Dashboard</p>
    <p routerLink="orders" class="hover:bg-gray-400 hover:text-white p-4"><i class="fa-solid fa-bag-shopping"></i>Orders</p>
    <p routerLink="staff" class="hover:bg-gray-400 hover:text-white p-4"><i class="fa-solid fa-user-tie"></i>Staff</p>
    <p class="hover:bg-gray-400 hover:text-white p-4"><i class="fa-solid fa-file-invoice"></i>Report</p>
</div>
