


<!-- cards  -->
<div class="flex justify-around mb-12 mt-5" id="cards ">

    <mat-card>
        <app-card class="shadow-md"
        icon="fa-solid fa-utensils"
        content="Dine in"
        total="448">
        </app-card>
    </mat-card>


    <mat-card>
        <app-card class="shadow-md"
        icon="fa-solid fa-bag-shopping"
        content="Parcel"
        total="210">
        </app-card>
    </mat-card>


    <mat-card>
        <app-card class="shadow-md"
        icon="fa-solid fa-truck-fast"
        content="Online orders"
        total="522">

        </app-card>
    </mat-card>


    <mat-card>
        <app-card class="shadow-md"
        icon="fa-solid fa-bowl-food"
        content="Total"
        total="1170">
        <i class="fa-regular fa-box-check"></i>
        </app-card>
    </mat-card>

</div>


<!-- area chart  -->
<div>
    <app-area-chart></app-area-chart>
</div>