<div class="flex justify-around">

    <div class="border-2 border-gray-500 w-56 text-center">
        <img class="w-40 mx-auto mt-3" src="https://img.freepik.com/free-icon/user_318-563642.jpg" alt="">
        <div class="mt-4">
            <p class="text-lg">Name:Manu</p>
            <p class="text-lg">Position:Chef</p>
            <p class="text-lg">Phone:9947856624</p>
        </div>
    </div>
    <div class="border-2 border-gray-500 w-56 text-center">
        <img class="w-40 mx-auto mt-3" src="https://img.freepik.com/free-icon/user_318-563642.jpg" alt="">
        <div class="mt-4">
            <p class="text-lg">Name:Sikindar</p>
            <p class="text-lg">Position:Server</p>
            <p class="text-lg">Phone:9455466624</p>
        </div>
    </div>
    <div class="border-2 border-gray-500 w-56 text-center">
        <img class="w-40 mx-auto mt-3" src="https://img.freepik.com/free-icon/user_318-563642.jpg" alt="">
        <div class="mt-4">
            <p class="text-lg">Name:Muthu Swami</p>
            <p class="text-lg">Position:Cleaner</p>
            <p class="text-lg">Phone:8747856624</p>
        </div>
    </div>
    <div class="border-2 border-gray-500 w-56 text-center">
        <img class="w-40 mx-auto mt-3" src="https://img.freepik.com/free-icon/user_318-563642.jpg" alt="">
        <div class="mt-4">
            <p class="text-lg">Name:Raju Bhai</p>
            <p class="text-lg">Position:Cook</p>
            <p class="text-lg">Phone:7947856624</p>
        </div>
    </div>

</div>